In [2]:
import pandas as pd 

%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns

In [3]:
data = pd.read_csv('Combined Wine Data.csv')

In [4]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [5]:
columns = data.columns.to_list()
columns

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality',
 'color']

In [6]:
columns.sort()
columns

['alcohol',
 'chlorides',
 'citric acid',
 'color',
 'density',
 'fixed acidity',
 'free sulfur dioxide',
 'pH',
 'quality',
 'residual sugar',
 'sulphates',
 'total sulfur dioxide',
 'volatile acidity']

In [7]:
rearranged_data = data[columns]
rearranged_data

,alcohol,chlorides,citric acid,color,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
0,9.4,0.076,0.00,red,0.99780,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
1,9.8,0.098,0.00,red,0.99680,7.8,25.0,3.20,5,2.6,0.68,67.0,0.88
2,9.8,0.092,0.04,red,0.99700,7.8,15.0,3.26,5,2.3,0.65,54.0,0.76
3,9.8,0.075,0.56,red,0.99800,11.2,17.0,3.16,6,1.9,0.58,60.0,0.28
4,9.4,0.076,0.00,red,0.99780,7.4,11.0,3.51,5,1.9,0.56,34.0,0.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,11.2,0.039,0.29,white,0.99114,6.2,24.0,3.27,6,1.6,0.50,92.0,0.21
6493,9.6,0.047,0.36,white,0.99490,6.6,57.0,3.15,5,8.0,0.46,168.0,0.32
6494,9.4,0.041,0.19,white,0.99254,6.5,30.0,2.99,6,1.2,0.46,111.0,0.24
6495,12.8,0.022,0.30,white,0.98869,5.5,20.0,3.34,7,1.1,0.38,110.0,0.29
6496,11.8,0.020,0.38,white,0.98941,6.0,22.0,3.26,6,0.8,0.32,98.0,0.21

In [8]:
data.head()
# Note how the original data frame has not changed.
# We saved the changed to the newly created rearranged_data data frame.

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [9]:
rearranged_data['residual sugar'].mean()

5.4432353393874156

In [22]:
high_sugar_wines = rearranged_data[rearranged_data['residual sugar'] > rearranged_data['residual sugar'].mean()]
high_sugar_wines

,alcohol,chlorides,citric acid,color,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
9,10.50,0.071,0.36,red,0.99780,7.5,17.0,3.35,5,6.10,0.80,102.0,0.500
11,10.50,0.071,0.36,red,0.99780,7.5,17.0,3.35,5,6.10,0.80,102.0,0.500
33,9.40,0.073,0.12,red,0.99930,6.9,40.0,3.45,6,10.70,0.52,83.0,0.605
35,9.60,0.086,0.00,red,0.99860,7.8,5.0,3.40,6,5.50,0.55,18.0,0.645
39,10.50,0.074,0.36,red,0.99780,7.3,12.0,3.33,5,5.90,0.83,87.0,0.450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6483,9.60,0.048,0.38,white,0.99492,6.5,68.0,3.14,5,8.30,0.50,174.0,0.330
6484,9.55,0.046,0.40,white,0.99494,6.6,68.0,3.15,6,8.10,0.50,170.0,0.340
6485,12.15,0.028,0.28,white,0.99168,6.2,45.0,3.21,7,5.70,1.08,121.0,0.210
6488,9.40,0.030,0.27,white,0.99540,4.9,34.0,3.07,6,11.75,0.50,118.0,0.235
6493,9.60,0.047,0.36,white,0.99490,6.6,57.0,3.15,5,8.00,0.46,168.0,0.320

In [23]:
high_sugar_wines['residual sugar'].mean()

10.602665852665874

In [24]:
high_sugar_wines.color.value_counts()

white    2383
red        74
Name: color, dtype: int64

In [25]:
high_sugar_wines = high_sugar_wines[high_sugar_wines.color != 'white']
high_sugar_wines
# Why did we use dot notation here and not bracket notation like above?

,alcohol,chlorides,citric acid,color,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
9,10.5,0.071,0.36,red,0.99780,7.5,17.0,3.35,5,6.1,0.80,102.0,0.500
11,10.5,0.071,0.36,red,0.99780,7.5,17.0,3.35,5,6.1,0.80,102.0,0.500
33,9.4,0.073,0.12,red,0.99930,6.9,40.0,3.45,6,10.7,0.52,83.0,0.605
35,9.6,0.086,0.00,red,0.99860,7.8,5.0,3.40,6,5.5,0.55,18.0,0.645
39,10.5,0.074,0.36,red,0.99780,7.3,12.0,3.33,5,5.9,0.83,87.0,0.450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,8.8,0.205,0.50,red,1.00242,9.9,48.0,3.16,5,13.8,0.75,82.0,0.500
1478,10.2,0.082,0.05,red,0.99808,7.1,3.0,3.40,3,5.7,0.52,14.0,0.875
1558,9.5,0.235,0.33,red,0.99787,6.9,66.0,3.22,5,6.7,0.56,115.0,0.630
1574,10.5,0.074,0.78,red,0.99677,5.6,23.0,3.39,6,13.9,0.48,92.0,0.310
1589,9.2,0.073,0.20,red,0.99770,6.6,29.0,3.29,5,7.8,0.54,79.0,0.725

In [30]:
high_sugar_wines.sort_values(by = 'residual sugar', ascending=False)

,alcohol,chlorides,citric acid,color,density,fixed acidity,free sulfur dioxide,pH,quality,residual sugar,sulphates,total sulfur dioxide,volatile acidity
480,9.2,0.069,0.39,red,1.00260,10.6,6.0,3.12,5,15.5,0.66,23.0,0.280
1435,9.0,0.214,0.37,red,1.00369,10.2,55.0,3.18,6,15.4,0.77,95.0,0.540
1434,9.0,0.214,0.37,red,1.00369,10.2,55.0,3.18,6,15.4,0.77,95.0,0.540
1574,10.5,0.074,0.78,red,0.99677,5.6,23.0,3.39,6,13.9,0.48,92.0,0.310
1476,8.8,0.205,0.50,red,1.00242,9.9,48.0,3.16,5,13.8,0.75,82.0,0.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,10.5,0.071,0.42,red,0.99730,7.1,28.0,3.42,5,5.5,0.71,128.0,0.430
154,10.5,0.070,0.42,red,0.99730,7.1,29.0,3.42,5,5.5,0.72,129.0,0.430
1133,11.2,0.089,0.07,red,0.99684,7.2,10.0,3.37,7,5.5,0.68,18.0,0.480
35,9.6,0.086,0.00,red,0.99860,7.8,5.0,3.40,6,5.5,0.55,18.0,0.645
1094,10.8,0.117,0.09,red,0.99655,6.6,9.0,3.35,6,5.5,0.49,17.0,0.725